html,
body {
  background-color: #20243c;
  font-family: 'Titillium Web', sans-serif;
  transition: .2s;
  scroll-behavior: smooth;
}

/* hr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
} */

.linkBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 3rem;
  border-bottom: 2px solid white;
  font-size: 22px;
}

.underQuotelinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.4rem
}

.underQuotelink {
  font-size: 30px
}

.faceAndQuoteSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
  transition: 2s;
}

.ollyFacePfp {
  /* margin-left: -20%; */
  display: flex;
  align-items: flex-start;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  transition: .2s;
  background-image: url(../public/assets/Avatar_ghostrobe5_320x320_transparent.png);
  background-size: cover;
  background-position: top;
  border-bottom: 1px solid black;
}

/* .ollyFacePfp:hover {
  background-image: url(../public/assets/OllyPFP.jpg);
  background-size: center 100%;
  background-position: top;
} */

/* .ollyFacePfpAndNationalities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#languageSkills {
  /* display: grid; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -50px;
  gap: 1rem;
}

  .brTagBeforeLanguage {
    display: none;
  }

#englishSkillBar {
  height: 2.5rem;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
  border: 2px solid white
}

.homeNameAndQuote {
  margin-left: 10px;
  width: 60%;
}

.aboutAndSkillsLink {
  display: flex;
  gap: 2rem;
  font-size: 1.7rem;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeDescMark {
  background-color: #389cd4;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2rem;
  --animate-delay: 0.5s;
}

.aboutMeDescription {
  text-align: left;
  width: 70%;
}

.skillsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillBoxes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  margin: 0.5rem 0 2rem 0;
}

.skillBox {
  display: flex;
  flex-direction: column;
}

.skillBox1 {
  /* border: 1px solid black; */
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBox2 {
  width: 49%;
}

.skillLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.6rem;
}

.skillLogo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  background-color: #20243c;
  border: 1px solid white;
  padding: 0 10px 2px 10px;
  border-radius: 10px;
  transition: .2s;
}

.skillLogo:hover {
  transform: scale(1.3);
  z-index: 1;
}



/* ? ------- PROJECTS SECTION ------- */

.projectsSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10rem;
}

.projectAccordion {
  width: 42%;
  display: block;
  margin-top: 0 !important;
  border-radius: 5px !important;
}

/* ? ------- ABOUT ME SECTION ------- */

.aboutMeUbuntuPic {
  width: 50%;
}

.interests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  width: 90%;
}

/* ? ------ RESPONSIVE SECTION ------ */

@media screen and (min-width: 1500px) {}

@media screen and (min-width: 2300px) {}

@media screen and (max-width: 1080px) {

  /* .ollyFacePfp {
    width: 17rem;
  } */
  
  .brTagBeforeLanguage {
    display: block;
  }

  .aboutMeDescription {
    width: 90%;
  }

  .aboutMeUbuntuPic {
    width: 90%;
  }

  .interests {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .faceAndQuoteSection {
    flex-direction: column;
    gap: 1rem;
  }

  .underQuotelinks {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .projectAccordion {
    width: 90%;
  }

  .homeNameAndQuote {
    width: 90%;
    margin-left: -10px;
  }

  .oliverNameAndIntro {
    text-align: center;
    width: 103%;
    height: 9rem;
    margin-left: -10px;
    /* height:"10rem" */
  }

  .projectsSection {
    flex-direction: column;
    gap: 1rem;
  }

  .skillBoxes {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skillBox1 {
    width: 95%;
  }

  .skillBox2 {
    width: 90%;
  }
  .skillLogos {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 800px) {
  .homeNameAndQuote {
    width: 100%;
  }

  .faceAndQuoteSection {
    padding-top: 10px;
    box-sizing: content-box;
  }

  .divLeftOfPfp {
    display: none;
  }

  #languageSkills {
    margin-left: 0;
  }
}
;